.grid{
    display: grid;
    grid-template-columns: 320px 200px;
}
.right-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.game-board{
    border: solid 2px;    
}
.play-button{
    cursor: pointer;
    background-color: #555;
}